.SendMail{
	position: absolute;
	bottom: 8px;
	right: 50px;
	background-color: #404040;
	width:40%;
	height: 40%;
	max-width: 500px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: column;
	border:1px solid whitesmoke;
	box-shadow:  0px 5px 7px 0px rgba(0,0,0,0.24);
}
.SendMail_header{
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: gray;
}
.SendMail_header > h3{
	color:whitesmoke;
	font-size: 13px;
}
.SendMail_send{
	background-color: #3079ed !important;
	text-transform: capitalize !important; 
	margin:15px !important;
}
.SendMail_close{
	cursor: pointer;
}
.SendMail >form{
	display: flex;
	flex: 1;
	flex-direction: column;
}
.SendMail >form >input{
	height: 30px;
	padding: 10px;
	border-bottom: 1px solid whitesmoke;
	outline: none;
	border:none;
}
.SendMail_message{
	flex: 1;
	
}
.SendMail_error{
	background-color: white;
	color: red;
	text-align: right;
	padding: 2px;
}